body {
  font-family: "Roboto", sans-serif;
}

.search-bar {
  margin-top: 1em;
  text-align: center;
  border-radius: 30px;
  border-width: thin;
  border-color: #b9bbbc;
}
.submit-button {
  border-radius: 5px;
  text-align: center;
  border-width: thin;
  background-color: #edf4fa;
  border-color: #b9bbbc;
}
.button {
  border-radius: 5px;
  text-align: center;
  border-width: thin;
  background-color: #edf4fa;
  color: #41424d;
  border-color: #b9bbbc;
}
h1 {
  text-align: left;
  font-size: 28px;
  color: #41424d;
}
h2 {
  font-size: 16px;
  font-style: italic;
  color: #b9bbbc;
}
h3 {
  text-align: center;
}
.current-weather {
  list-style: none;
  text-align: center;
  font-size: 16px;
  color: #6e6f75;
  padding: 0;
}
.current-weather-temp {
  color: #3548ba;
  font-weight: bold;
  font-size: 32px;
}
.description {
  text-transform: capitalize;
  font-size: 22px;
  color: #41424d;
}

.temp-units {
  position: relative;
  color: #3548ba;
  font-weight: 200;
  font-size: 14px;
  top: -18px;
}
.current-weather .active {
  color: #41424d;
  cursor: default;
  text-decoration: none;
}

.current-weather .active:hover {
  text-decoration: none;
}

small {
  font-size: 10px;
}

.weather-forecast {
  background-color: #edf4fa;
  border-radius: 30px;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
}

.weather-day {
  font-size: 22px;
  color: #41424d;
}
.weather-temp {
  font-size: 22px;
  color: #3548ba;
}
